/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  position: relative;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  right: -350px; /* Hide off-screen initially */
  background-color: #1f0016;
  width: 350px;
  height: 100%;
  z-index: 2;
  transition: right 0.5s ease-in-out;
  overflow-y: auto;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(2567deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.nav-menu li img {
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-open {
  display: none;
}

.nav-mob-close {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    margin: 20px;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: absolute; /* Keep it on top-right */
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .nav-menu {
    top: 0;
    right: -350px; /* Initially hidden */
    height: 100vh;
    width: 350px;
    background-color: #1f0016;
    transition: right 0.5s ease-in-out;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
  }

  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
}
